.Contact{
/* width: 27%;

margin: 0% 5%;
margin-top: 2%; */

width: 90%;

margin-top: 5%;
margin-left: 0;

background: #F7B41F;
border-radius: 20px;
}
.Email{
    padding-top: 5%;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 2%;
}
.Phone{
    padding-top: 5%;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 2%;
}
.Ubication{
    padding-top: 5%;
    padding-bottom: 6%;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 2%;
}
.imagen img{
    width: 50%;
}
